.element-text {
    font-family: 'Marcellus' !important;
}

.background-main {
    /* width: 100%; */
    /* height: 100vh; */
    background-image: url('https://res.cloudinary.com/dqv5emuao/image/upload/v1764842802/THA04810_ezyzta.webp') !important;
    background-attachment: fixed;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}