.element-text {
    font-family: 'Marcellus' !important;
}

.background-main {
    /* width: 100%; */
    /* height: 100vh; */
    background-image: url('https://res.cloudinary.com/dqv5emuao/image/upload/v1763454348/photo_2025-11-1810.23.42-ezgif.com-png-to-webp-converter_ngj83j.webp') !important;
    background-attachment: fixed;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}